@use "sass:map";

// @import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Baloo 2"); // * Like this one but no

@font-face {
    font-family: 'Rubik';
    src: url('$src/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.anim {
    transition: ease .2s;
}

body {
    font-family: "Rubik";

    ::-webkit-scrollbar{
		height: 5px;
		width: 4px;
	}
	::-webkit-scrollbar-track{
		background: var(--gray3);
        margin: 250px 0;
	}
	::-webkit-scrollbar-thumb{
		background-color: var(--gray5);
		border-radius: 5px;
	}
}

.button {
	border: 1px solid transparent;
    border-radius: .2rem;
    font-size: .85rem;
    padding: .75rem 1.75rem;
    border-color: var(--gray5);
    background-color: var(--gray1);
	fill: var(--gray9);
    &:hover {
        background-color: var(--gray6);
        color: var(--gray2);
    }
}


.seperator_vertical {
    height: 80%;
    width: 1px;
    margin: 10% .35rem;
    background-color: var(--gray4);
}

.icon_style, .bigger_icon_style, .normal_icon_style {
    display: flex;
    transform: scale(.92);
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    fill: inherit;
}

.normal_icon_style {
    transform: scale(1.1);
}

.bigger_icon_style {
    transform: scale(1.75);
}

.information_container {
	display: flex;
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.information_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
    width: 300px;
    height: 300px;
	border: 2px solid var(--gray3);
	padding: 1.25rem;
	margin: .5rem;
	color: var(--gray7);
	h1 {
		font-weight: 800;
		font-size: 3.5rem;
	}
	h3 {
		font-size: 1.25rem;
        text-align: center;
	}
}