@import "../../routes/index.scss";

.form_seperator {
    display: block;
    background-color: var(--gray5);
    margin: .5rem auto;
    width: 90%;
    height: 1px;
}

.form_wrapper {
    * {transition: .2s ease;}
    background-color: var(--gray2);
    color: var(--gray8);
    display: flex;
    position: relative;
    width: 60%;
    height: 80%;
    place-self: center;
    border-radius: 1rem;
    padding: 1rem;
}

.custom_input {
    position: relative;
    input {
        width: calc(100% - 1rem);
        height: 2.5rem;
        padding-left: .35rem;
        margin: .5rem;
        background: transparent;
        border-bottom: 1px solid var(--gray4);
        &:focus {
            outline: none;
            border-color: var(--gray5);
        }
        &:not(:placeholder-shown)+p, &:focus + p {
            font-size: .75rem;
            top: calc(0% - 2px);
        }
        &+p {
            position: absolute;
            color: var(--gray6);
            top: 30%;
            margin-left: .75rem;
        }
    }
}

.custom_textarea {
    position: relative;
    textarea  {
        width: calc(100% - 1rem);
        height: 3rem;
        padding: .75rem;
        margin: .5rem;
        font-size: .85rem;
        line-height: 1rem;
        resize: none;
        background: transparent;
        border-bottom: 1px solid var(--gray4);
        border-top: 1px solid var(--gray4);
        &:focus {
            outline: none;
            border-color: var(--gray5);
        }
        &:not(:placeholder-shown), &:focus{
            height: 12rem;
        }
        &:not(:placeholder-shown)+p, &:focus + p {
            font-size: .75rem;
            top: calc(0% - 2px);
        }
        &+p {
            position: absolute;
            color: var(--gray6);
            top: 25%;
            margin-left: .75rem;
            background-color: var(--gray2);
            padding: 2px;
        }
    }
}

.form_button_wrapper {
    display: flex;
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    gap: 1rem;
}

.submit_button, .cancel_button {
    border: 1px solid transparent;
    border-radius: .2rem;
    font-size: .85rem;
    padding: .75rem 1.75rem;
    border-color: var(--gray5);
    background-color: var(--gray2);
    &:hover {
        background-color: var(--gray6);
        color: var(--gray2);
    }
}

.delete_button {
    * {transition: none;}
    fill: var(--gray7);
    position: absolute;
    bottom: .25rem;
    left: .25rem;
    border: 1px solid var(--gray6);
    padding: .55rem;
    border-radius: .5rem;
    &:hover {
        fill: red;
        border-color: red;
    }
}

.form_main {
    position: relative;
    width: 65%;
    padding-right: 1.25rem;
}

.form_side {
    position: relative;
    width: 35%;
    padding: 1.25rem;
    margin-bottom: 3.5rem;
    border-left: 1px solid var(--gray6);
}